* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px;
}

button {
  border: 2px solid #9000ff;
  background-color: rgb(191, 255, 255);
  box-shadow: #6f00ff 2px 2px 4px;
  font-size: 18px;
  cursor: pointer;
}
button:active {
  background-color: rgb(180, 205, 245);
}

.container {
  width: 400px;
  border: 4px solid #9000ff;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffacfb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input__display {
  height: 60px;
  width: 100%;
  border: 2px solid #9000ff;
  border-radius: 10px;
  background-color: rgb(191, 255, 255);
  margin: 20px;
  flex-wrap: wrap;
}

#display {
  padding: 4px 10px;
  font-size: 40px;
  text-align: right;
}

.numbers,
.symbol {
  width: 60px;
  height: 60px;
  margin: 6px;
  border-radius: 50px;
}

.btn__clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}